:root {
  --app-primary: #da2337;
  --app-header-height: 64px;
  --app-color: #1f2229;
  --app-dark-color: #1f2229;
  --app-background: #fafafa;
  --app-element-shadow: 0 2px 8px 0 rgba(34, 34, 37, 0.1);
}
